.services{
    margin: 50px 0 50px 0;
    width: 100%;
    height: auto;
    background: var(--blanco);
}

.services__bg{
    /* background: url(../../assets/img/Bg-services2.svg); */
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.services__bg-img{
    display: flex;
    width: 650px;
    margin-left: 5%;
}

.services__bg-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.services__bg-text-item{
   margin: 50px;
   font-size: 1.5rem;
   font-weight: 300;
   width: 400px;
   color: var(--gris-intermedio);
   text-align: center;
}

.services__bg-text-box img{
    width: 60px;
}

.services__bg-text-box-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*ver*/
.custom-shape-divider-top-1679360293 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679360293 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 84px;
}

.custom-shape-divider-top-1679360293 .shape-fill {
    fill: #FAFAFA;
}

/*curve divider*/
.custom-shape-divider-bottom-1679361385 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679361385 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 84px;
}

.custom-shape-divider-bottom-1679361385 .shape-fill {
    fill: #FAFAFA;
}