.cursos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.cursos__title-box{
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
}

.cursos__title{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--salmon-intermedio);
}