.swiper {
    width: 70%;
    height: 700px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--blanco);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 400px;
    height: auto;
    object-fit: cover;
    transition: 0.3s;
}
.swiper-slide img:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s;
}
.swiper-button-next{
    color: var(--salmon-intermedio);
}

.swiper-button-prev{
    color: var(--salmon-intermedio);
}

.swiper-pagination-bullet-active{
    background: var(--salmon-intermedio);
}

.swiper-slide__img-first{
    background: url(../../assets/img/cursos/curso1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    width: 420px;
    height: 410.55px;
    transition: 0.3s;
    display: flex;
    align-items: flex-end;
}

.swiper-slide__img-second{
    background: url(../../assets/img/cursos/curso2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    width: 420px;
    height: 410.55px;
    transition: 0.3s;
    display: flex;
    align-items: flex-end;
}

.swiper-slide__img-third{
    background: url(../../assets/img/cursos/curso3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    width: 420px;
    height: 410.55px;
    transition: 0.3s;
    display: flex;
    align-items: flex-end;
}

.swiper-slide__img-first:hover, .swiper-slide__img-second:hover, .swiper-slide__img-third:hover{
    /* border: solid 1px #E57373; */
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.swiper-slide__img-title{
    background: #21212116;
    color: var(--salmon-fuerte);
    width: 100%;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
